@page "/about"

<h3>Acerca de</h3>

<p>Esta aplicación de diario de videojuegos fue desarrollada por:</p>
<ul>
    <li>Nombre: Brander Báez Melo</li>
    <li>Descripción: Desarrollador de software apasionado por los videojuegos.</li>
</ul>

<p>El objetivo de esta aplicación es permitir que los niños registren y compartan sus experiencias en videojuegos de una manera segura y divertida.</p>